/*
#011627 dark blue
#FDFFFC white
#2EC4B6 cyan
#E71D36 red
#FF9F1C orange
*/ 

h1 {
    background-color: #2EC4B6;
    margin: 20px;
    text-align: center;
    border-color: black;
    border-radius: 10px 10px 10px 0px;
    color: #FDFFFC;
    font-size: 100px;
    font-family: monospace;
}
p1 {
    background-color: #2EC4B6;
    margin: 20px;
    text-align: center;
    border: 20px;
    border-color: black;
    border-radius: 10px 10px 10px 0px;
    color: #FDFFFC;
    font-size: 25px;
    font-family: monospace;
}

body {
    background-color: #011627;
}